@mixin telefono {
    @media(min-width:$telefono){
        @content;
    }
}

@mixin tablet{
    @media(min-width:$tablet){
        @content;
    }
}

@mixin desktop {
    @media(min-width:$desktop){
        @content;       
    }
}

@mixin responsive($size) {
    @media(min-width:$size){
        @content;
    }
}

@mixin grid($columnas, $gap) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    column-gap: $gap;
}